* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header{ 
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid rgb(197, 197, 197);
}

header nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px; 
}

header nav li:hover{
    border-bottom: 2px solid black;
}

/* nav header */
header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 80px;  
    display: inline-block;
}

header i {
    font-size: 32px;
}

header .menuright {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translate(-25%, -50%);
}

header .menuleft {
    position: absolute;
    top: 100%;
    left: 300px;
    transform: translate(-25%, -50%);
}

header #logo {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(-25%, -50%);
}

header #logo span {
    font-size: 27px;
    position: relative;
    bottom: 3px;
    font-weight: 900;
}



/* BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON  */

/* button header */
.btninizia {
    background-color:#0061ff;
    width: 77px;
    height: 32px;
    color: white;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
    font-size: 18px; 
    cursor: pointer;
}

/* button jumbo */
.btnprovagratuita {
    color: white;
    text-align: center;
    padding-top: 12px;
    background-color:#0061ff;
    margin-left: 300px;
    margin-top: 30px;
    height: 44px;
    width: 244px;
    font-size: 18px;
    cursor: pointer;
}

/* button main */
.btnprova30d {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
    background-color:#0061ff;
    height: 44px;
    width: 244px;
    font-size: 18px;
    cursor: pointer;

}

.btnufficiovendite {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
    background-color:#0061ff;
    height: 40px;
    width: 264px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 30px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

.btnpatner {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 12px;
    border: 1px solid rgb(0, 0, 0);
    height: 48px;
    width: 168px;
    font-size: 18px;
    cursor: pointer;
}

.btnprovagratuita2 {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 12px;
    background-color:#ffffff;
    margin-left: 300px;
    margin-top: 30px;
    height: 44px;
    width: 244px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    left: 450px;
}

/*  JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON */
.jumbotron {
    height: 691px;
    background-color: #b4d0e7; 
    margin-top: 80px;  
}

.jumbotron .titolo {
    height: 216px;
    width: 1320px;
    font-size: 70px;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 50px;
}

.jumbotron p {
    display: inline-block;
    height: 156px;
    width: 360px;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 30px;
}

.annulla, .freccia {
    margin-left: 300px;
    margin-top: 20px;
}

.freccia {
    font-size: 70px;
}

.img1 {
    position: absolute;
    top: 324px;
    left: 37%;
}



/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

main .section1 {
    width: 1080px;
    margin: auto;
    position: relative;
    top: 200px;
}
main h2 {
    font-size: 55px;
}
main span {
    display: inline-block;
    font-size: 23px;
    margin-top: 30px;
    margin-right: 20px;
}

.fatturazione {
    text-align: left;
}



/* card card card card card card card card card card card card card card */
.titolocard {
    font-size: 20px;
    width: 315px;
    height: 30px;
    padding-left: 80px;
}

.internocard {
    font-size: 20px;
}

.card-plane {
    width: 315px;
    padding: 30px;
    border: 1px solid rgb(167, 167, 167);
    position: relative;
    top: 30px;
    height: 989px;

}

.internocard div, li, h3 {
    margin-bottom: 20px;
}

main li {
    list-style-type: none;
    font-size: 18px;
}

li span {
    margin: 0;
}

.container-plane {
    float: left;
    margin-right: 45px;
    margin-top: 30px;
}



/* CARTA ORIZZONTALE CARTA ORIZZONTALE CARTA ORIZZONTALE CARTA ORIZZONTALE CARTA ORIZZONTALE */
.orizontal-section {
    width: 1040px;
    margin: auto;
    position: relative;
    right: 20px;
    top: 250px;
    margin-top: 30px;
    border: 1px solid rgb(167, 167, 167);
    padding-bottom: 20px;
}

.titolocardorizz {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(167, 167, 167);
    font-size: 20px;
}
 
h3 {
    font-size: 33px;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
}



/* PATNER PATNER PATNER PATNER PATNER PATNER PATNER PATNER PATNER PATNER PATNER PATNER  */
.patner {
    position: relative;
    top: 380px;
}

.floatright {
    float: right;
    width: 40%;
    position: relative;
    top: 150px;
    left: 10px;
}

.patner p {
    font-size: 20px;
    margin: 30px 0;
}




/*  PEZZO CON 6 CARD PEZZO CON 6 CARD PEZZO CON 6 CARD PEZZO CON 6 CARD PEZZO CON 6 CARD */
.sixcard {
    position: relative;
    top: 450px;
}

.sixcard h3 {
    font-size: 30px;
}

.caviasixcard {
    width: 315px;
    float: left;
    margin-right: 46.5px; 
}

.imgcavia {
    height: 254px;
    width: 315px;
    margin-top: 50px;
}

.sixcard p {
    font-size: 19px;
}

.caviasixcard4 {
    width: 315px;
    float: left;
    margin-right: 46.5px; 
    position: absolute;
    left: 0;
    top: 635px;
}

.caviasixcard5 {
    width: 315px;
    float: left;
    margin-right: 46.5px; 
    position: absolute;
    left: 350px;
    top: 635px;
}

.caviasixcard6 {
    width: 315px;
    float: left;
    margin-right: 46.5px; 
    position: absolute;
    right: 0;
    top: 635px;
}




/* 500k 500k 500k 500k 500k 500k 500k 500k 500k 500k 500k 500k 500k*/
.a500k {
    position: relative;
    top: 1200px;
}

.a500k a {
    color: #0061ff;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: #0062ffe1 underline;
}





/* ricorrenti */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.width57 {
    margin: auto;
    width: 57%;
}





/* QUADRATI QUADRATI QUADRATI QUADRATI QUADRATI QUADRATI QUADRATI */
.section2 {
    position: relative;
    top: 1300px;
}

.section2 img {
    height: 75px;
    width: 150px;
    color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.imgdes {
    background-color: #a2d39b;
    height: 317.13px;
    width: 317.13px;
    position: relative;
    float: left;
}

.img2 {
    background-color: #61082b;
    height: 317.13px;
    width: 317.13px;
    position: relative;
    float: left;
}

.img3 {
    background-color: #d5001f; 
    height: 317.13px;
    width: 317.13px;
    position: absolute;
    right: 317.13px;
    float: left;
}

.img4 {
    background-color: #b4d0e7;  
    height: 317.13px;
    width: 317.13px; 
    float: left;
    position: absolute;
    right: 0;
}

.secondoquadrato {
    height: 634.25px;
    width: 634.25px;
    background-color: #f5f5f5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img5 {
    background-color: #0093ce;  
    height: 317.13px;
    width: 317.13px; 
    position: relative;
    float: left; 
}

.img6 {
    background-color: #ff1c1c; 
    height: 317.13px;
    width: 317.13px;  
    position: relative;
    float: left; 
}

.img7 {
    background-color: #0d2481;  
    height: 317.13px;
    width: 317.13px;  
    position: absolute;
    right: 317.13px;
    float: left;
}

.img8 {
    background-color: #ffd830;
    height: 317.13px;
    width: 317.13px; 
    position: absolute;
    right: 0;
    float: left;   
}



.ultimoblocco {
background-color: #b4d0e7;
height: 317.13px;
}

.ultimoblocco h2 {
    color: #61082b;
    position: relative;
    top: 130px;
    font-size: 48px;
}


/* Question Question Question Question Question Question Question Question Question */
.section3  {
    position: relative;
    top: 1400px;
}

.section3 h3 {
    font-size: 45px;
}

.section3 div {
    margin-top: 50px;
    font-size: 21px;
}

.section3 hr {
    position: relative;
    top: 30px;
}
.section3 span {
    font-size: 30px;
    font-weight: bolder;
}



/*  FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER  */
footer {
    position: relative;
    top: 1550px;
    height: 70vh;
    background-color: black;
}

footer li {
    color: white;
    list-style-type: none;
    margin-left: 70px;
    font-size: 17px
}

footer ul {
    display: inline-block;
    margin-top: 180px;
}

footer .titolo {
    font-size: 23px;
}