* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
header{ 
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid rgb(197, 197, 197);
}

header nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 20px;
}

/* nav header */
header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header i {
    font-size: 32px;
}

header .menuright {
    position: absolute;
    top: 63%;
    right: 0;
    transform: translate(-25%, -50%);
}

header .menuleft {
    position: absolute;
    top: 63%;
    left: 300px;
    transform: translate(-25%, -50%);
}

header #logo {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(-25%, -50%);
}

header #logo span {
    font-size: 27px;
    position: relative;
    bottom: 3px;
    font-weight: 900;
}



/* BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON BUTTON  */

/* button header */
.btninizia {
    background-color:#0061ff;
    width: 77px;
    height: 32px;
    color: white;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-25%, -50%);
    font-size: 18px; 
    cursor: pointer;
}

/* button jumbo */
.btnprovagratuita {
    color: white;
    text-align: center;
    padding-top: 12px;
    background-color:#0061ff;
    margin-left: 300px;
    margin-top: 30px;
    height: 44px;
    width: 244px;
    font-size: 18px;
    cursor: pointer;
}

/* button main */
.btnprova30d {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 12px;
    background-color:#0061ff;
    height: 44px;
    width: 244px;
    font-size: 18px;
    cursor: pointer;

}

a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    cursor: pointer;

}

/*  JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON JUMBOTRON */
.jumbotron {
    height: 691px;
    background-color: #b4d0e7; 
    margin-top: 80px;  
}

.jumbotron .titolo {
    height: 216px;
    width: 1320px;
    font-size: 70px;
    margin: auto;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 50px;
}

.jumbotron p {
    display: inline-block;
    height: 156px;
    width: 360px;
    font-size: 20px;
    margin-left: 300px;
    margin-top: 30px;
}

.annulla, .freccia {
    margin-left: 300px;
    margin-top: 20px;
}

.freccia {
    font-size: 70px;
}

.img1 {
    position: absolute;
    top: 330px;
    left: 37%;
}



/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

main .section1 {
    width: 1080px;
    margin: auto;
    position: relative;
    top: 200px;
}
main h2 {
    font-size: 55px;
}
main span {
    display: inline-block;
    font-size: 23px;
    margin-top: 30px;
    margin-right: 20px;
}

.fatturazione {
    text-align: left;
}


/* card */
.titolocard {
    font-size: 20px;
    width: 315px;
    height: 30px;
    padding-left: 80px;
}

.internocard {
    font-size: 20px;
}

.card-plane {
    width: 315px;
    padding: 30px;
    border: 1px solid rgb(167, 167, 167);
    position: relative;
    top: 30px;
    height: 989px;

}

.internocard div, li, h3 {
    margin-bottom: 20px;
}

main li {
    list-style-type: none;
    font-size: 18px;
}

li span {
    margin: 0;
}

.container-plane {
    float: left;
    margin-right: 45px;
    margin-top: 30px;
}






/* ricorrenti */
.clearfix {
    content: '';
    clear: both;
    display: table;
}
